<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
	<meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" type="text/css" /> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/40ec475331.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
<footer>
</footer>
</div>
=======
        <meta charset="UTF-8">
        {{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
        <link rel="stylesheet" href="public/css/style.css" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <script src="https://kit.fontawesome.com/40ec475331.js" crossorigin="anonymous"></script>
        <title>XPLORE</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- {{!-- <script src="/assets/js/cats.js"></script> --}} -->
</head>

<body>
        {{{ body }}}
</body>

</html>
>>>>>>> b08b953b86413e1b121e18491b7a35cf69720044
