 <div class="border border-danger card text-center" style="background-color: rgba(245, 245, 245, 0.5);">
            <div class="card-header">
            </div>
          </div>
          
          <br>
          <h1 class="title wel animate__animated animate__pulse"><img src="LogoMakr-7a5fw7.png" alt="Italian Trulli" class="logo">	
	
            <div id="title">X P L O R E </div></h1>
            <br>
                      <div class="container">
            <div class="bg1">
                <h2><i class="fas fa-archway"></i>
                </h2>
            </h2>
              <p>PARIS</p>
            </div>
            <div class="bg1">
            <h2><i class="fas fa-map-marker-alt"></i></h2>
              <p>NEW YORK</p>
            </div>
            <div class="bg2">
              <h2><i class="fas fa-plane"></i></h2>
              <p>DUBAI</p>
            </div>
            <div class="bg1">
              <h2><h2><i class="fas fa-passport"></i></i>
              </h2>
              <p>SYDNEY</p>
            </div>
            <div class="bg1">
            <h2><i class="fas fa-globe-europe"></i></h2>
             <p>HONG KONG</p>
            </div>
            <div class="bg2">
              <h2><i class="fas fa-suitcase-rolling"></i></h2>
              <p>LONDON</p>
            </div>
          </div>
          </form>
          <br> 
          <h1 class="text-center">

              
              {{!-- <ul>
    {{#each cats}}
      {{#unless sleepy}}
        {{> cats/cat-block sleep=true}}
      {{/unless}}
    {{/each}}
  </ul>
   --}}