<title>SAVED</title>
        <!-- {{}}INPUT HANDLEBARS IN PLACE OF "PARIS" -->
        <div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://wallpaperaccess.com/full/1192224.jpg)">
            <!-- {{}}INPUT HANDLEBARS FOR BACKGROUND IMAGE -->
        <nav>
            <div class="nav-wrapper linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%)">
              <a class="brand-logo"> 
                  <!-- <h1 class="wel animate__animated animate__pulse"> <img src="LogoMakr-7a5fw7.png" alt="Italian Trulli" class="logo">	 -->
               </a>
             <!-- <img src="LogoMakr-7a5fw7.png" alt="Italian Trulli" class="headerLogo"> -->

              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">dehaze</i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="index.html">H O M E</a></li>
                <li><a href="saved.html">S A V E D &nbsp; T R I P S</a></li>
                <li>
                    <a class="modal-trigger" href="#modal">S I G N &nbsp; U P</a>
                    
                <!-- <button data-target="modal1" class="btn modal-trigger">S I G N &nbsp; U P</button> -->
                </li>

              </ul>
              
            </div>
          </nav>
          
          <ul class="sidenav" id="mobile-demo">
            <li><a href="index.html">H O M E</a></li>
            <li><a href="saved.html">S A V E D &nbsp; T R I P S</a></li>
            <li><a href="#modal" class="modal-trigger">S I G N &nbsp; U P</a></li>
          </ul>


           <!-- Modal Trigger -->
         
  <div id="modal" class="modal">
    <div class="jumbotron bg-cover text-white pic" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://wallpaperaccess.com/full/123346.jpg)">

    <div class="modal-content">

        <div class="row">
         
            <h4 class="usernameInput">Save Your Trips! </h4>
     
              <h4 class="inputUsernameHere">Input your new username below</h4>
            <form class="col s12">
              <div class="row">
                <div class="input-field col s2"></div>
                <div class="input-field col s8">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate text">
                  <label for="icon_prefix">Username</label>
                
                </div>
                <div class="input-field col s2"></div>
                <!-- <div class="input-field col s6">
                  <i class="material-icons prefix">phone</i>
                  <input id="icon_telephone" type="tel" class="validate text">
                  <label for="icon_telephone">Telephone</label>
                </div> -->
              </div>
            </div>
            </form>
          </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Sign Me Up!</a>
    </div>
</div>
        
                  
	</head>
	<body> 

    
     
           
        <div class="border border-danger card text-center" style="background-color: rgba(245, 245, 245, 0.5);">
            <div class="card-header">
            </div>
          </div>
          <h1 class="title wel animate__animated animate__pulse"> 
            <div id="title">S A V E D &nbsp; T R I P S </div> </h1> 
            <!-- {{}} INPUT HANDLEBARS IN PLACE OF "PARIS" -->
            <h5 class="viewSubheader">VIEW YOUR FRIEND'S TRIPS!</h5>

            
  <div class="row">
  <div class="col s2 m4 l2"></div> 
    <!-- <div class="savedTripsList col s12 m4 l8 full-width"><p> --> 
     <br>
     <div class="col s8 m4 l2 appendSavedTripInfo"><p></p></div> 
      <div class="col s12 m7 full-width">
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://t1.gstatic.com/images?q=tbn:ANd9GcRuA7eHm1m22taUbKIO2h5AF1IfD_-55ylPg7HUM-Q4IDIQ5ofbuLesjRuq5USD1hNuie0oqAXWMBHDPPIb49OsUw" style="width: 300px; height: 200px sightImg" alt="Italian Trulli" >
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h2 class="header userName">KELLY'S PARIS TRIP</h2>
              <div class="card-action">
              <!-- USE {{{}}} FOR USER NAME 'KELLY' add 'S TRIP-->
              <!-- USE {{{CITY NAME}}} -->
              <div class="row">
                <div class="grid-example col s12 m4">
                   <p>HELLO</p>
                </span></div>
                <div class="grid-example col s12 m4">
                     <p>HELLO</p>  
                           </div>
              <!-- USE {{{FOR CITY INFO}}} -->
            </div>
          </div>
          
        </div>
        
      </div>
      <br>
      

        <!-- <div class="card horizontal"> -->
          
          <!-- <div class="card-stacked"> -->
            <!-- <div class="card-content"> -->


              
      <!-- <div class="card">
        <div class="card-content">

  <!-- <div class="col s12 m7"> -->
    <!-- {{{ USER }}}-->
    <!-- <div class="card horizontal grey"> -->

<!--       
      <div class="card-image">
        <img src="https://t1.gstatic.com/images?q=tbn:ANd9GcRuA7eHm1m22taUbKIO2h5AF1IfD_-55ylPg7HUM-Q4IDIQ5ofbuLesjRuq5USD1hNuie0oqAXWMBHDPPIb49OsUw" style="width: 300px; height: 200px sightImg" alt="Italian Trulli" >
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h2 class="header userName">KELLY'S TRIP</h2>
          <u><h5 class="savedCityHeader">PARIS</h5></u>
          <p class="cityInfo">Blahblah</p>
        </div>
      </div>
      
    </div>
  </div>
  
      <div class="col s2 m4 l2"><p></p></div> 

    </div>
    <div class="col s12 m4 l2"><p></p></div>
  </div>
        </span></div>

              </div>
                    
             
             
                </div>
              </body>
                     -->
                     <!-- <div class="row">
                       
                      <div class="grid-example col s12 m4 full-width"><span class="flow-text">
                         
                          <br>
                        
                      </span></div>
                      <div class="grid-example col s12 m4"><span class="flow-text">
                        <p><u>PARIS</u></p>
                          <br>
                          1. Pur’ - Jean-François Rouquette 
                          <br>
                          <i><p class="restaurantType">Fine Dining</p></i>
                          <img src="https://res.cloudinary.com/tf-lab/image/upload/restaurant/addec800-3e93-4cff-9cee-9466c66c4bb8/50de189c-f22a-4b42-baed-78171710377f.jpg"
                          style="width: 300px; height: 200px; restaurantImg" alt="Italian Trulli" >
                          <br>
                          <p class="restaurantWebsite">Website: <i><a href="https://www.paris-restaurant-pur.fr/?src=prop_gmb_seo_purjfr">https://www.paris-restaurant-pur.fr/?src=prop_gmb_seo_purjfr"</a></i></p>
      
                      
                          <a class="saveRestaurantBtn btn-small waves-effect waves-white">SAVE RESTAURANT</a>
      
                         
                          <br>
                          <div class="grid-example col s12 m4"> -->

        <!-- </a>  -->
            <!-- <div class="bg1">
            <h2><i class="fas fa-map-marker-alt"></i></h2>
              <p>NEW YORK</p>
            </div>
            <div class="bg2">
              <h2><i class="fas fa-plane"></i></h2>
              <p>DUBAI</p>
            </div>
            <div class="bg1">
              <h2><h2><i class="fas fa-passport"></i></i>
              </h2>
              <p>SYDNEY</p>
            </div>
            <div class="bg1">
            <h2><i class="fas fa-globe-europe"></i></h2>
             <p>HONG KONG</p>
            </div>
            <div class="bg2">
              <h2><i class="fas fa-suitcase-rolling"></i></h2>
              <p>LONDON</p>
            </div>
          </div>
          </form>
          <br> 
          <h1 class="text-center"> -->
          


<script>

    $(document).ready(function(){
      $('.sidenav').sidenav();
    $('#modal').modal(); 
     $('#modal').modal('open'); 
     $('#modal').modal('close'); 
    $('input#input_text, textarea#textarea2').characterCounter();
  });
  

</script>